{% extends "base.html" %}
{% load i18n markup gblocks %}
{% block page.title %} | {{page}}  {{ object}}{% endblock %}

{% block page.body %}
<h2>{{ object }}</h2>

<div class="post">
    <div class="entry">
        <table>
            <tr>
                <td>{% trans "Descriptif"%}</td>
                <td>{% if object.descriptif %}{{object.descriptif|textile}}{% else %}{% trans "Aucun" %}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "Enzyme utilisé" %}</td>
                <td>{% if object.enzyme %}{{object.enzyme}}{% else %}{% trans "Non précisée" %}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "Fichier original" %}</td>
                <td>
                    <a href="{{MEDIA_URL}}{{object.mgf}}">
                        <div class="icon {{object.mgf|get_file_extension}}">
                            {{object.mgf|get_file_name}}
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>{% trans "Date de création" %}</td>
                <td><span class="date">{{object.created}}</span></td>
            </tr>
        </table>
    </div>
    {% if object.can_analyse %}
        <span class="btn" id="go-analyse">{% trans "Analyser" %}</span>
    {% endif %}
</div>

{% for object in object.analysepeptide_set.all %}
{{object}}
{% endfor %}

{% endblock %}

{% block app.scripts %}
{% if object.can_analyse %}
<script src="{{ STATIC_URL }}contentblocks/js/jquery.cookie.js"></script>
<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if ($.cookie('csrftoken') && (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url)))) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
            }
        }
    });

    $("#go-analyse").click(function(){
        $.ajax({
            type:"POST",
            url:"{{object.get_analyse_url}}",
            data:"",
            success: function(json){
                console.log(json);
            }
        });
    });

</script>
{% endif %}
{% endblock %}
