{% load i18n markup %}
<div class="post">
    <div class="title">
        <a href="{{ object.get_absolute_url }}"><h2>{{object}}</h2></a>
        <span class="date right">{{object.created}}</span>
    </div >
    <div class="entry">
        {{ object.descriptif|truncatewords_html:"70"|textile }}
    </div>
    <div class="meta">
        <div class="byline">
            {% trans "Peptides" %}:&nbsp;{{object.peptides}}
        </div>
        <div class="comments">
            <a class="more" href="{{object.get_absolute_url}}">{% trans "Voir plus" %}</a>
        </div>
    </div>
</div>
